.fa-stack {
    font-size: 0.5em;
}

.btn-primary.override-btn-1 {
    min-width: 100%;
    border-radius: 20px;
}
.btn-primary.override-btn-2 {
    border-radius: 20px;
}

.form-control.override-input {
    border: none;
    box-shadow: none;
    webkit-box-shadow: none;
}

.search-border {
    border-color: gray;
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    overflow: auto;
}

.img-size-1 {
    width: 100%;
}
.img-size-2 {
    width: 80px;
    height: 80px;
    border-radius: 10px;
}
.img-size-3 {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.fg-color-gray {
    color: gray
}

.font-bold {
    font-weight: bold
}

.caption {
    font-size: 30px;
    color: white;
    font-weight: bold;
}

.zindex-front {
    z-index: 10;
}