body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fa-stack {
  font-size: 0.5em;
}
.wd-font-bold {
  font-weight: bold
}
.wd-fg-color-gray {
  color: gray
}
.wd-rounded-border {
  border-radius: 20px;
  overflow: auto;
}
.wd-avatar-img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.wd-post-img {
  width: 100%;
  height: 264px;
}
.wd-summary-img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
}
.wd-text {
  color: gray;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
