.rotate-paragraph {
    width: 250px;
    height: 250px;
    transform: rotate(90deg);
}
.rotate-list {
    transform: rotate(12deg);
    width: 100px;
    background-color: red;
    color: white;
}
.rotate-list-counter {
    transform: rotate(-15deg);
    width: 120px;
    background-color: blue;
    color: yellow;
}
.rotate-list-items li {
    width: 100px;
    text-align: right;
}
.rotate-list-items li:nth-child(1) {
    transform: rotate(-10deg);
    background-color: yellow;
}
.rotate-list-items li:nth-child(2) {
    transform: rotate(2deg);
    background-color: blue;
    color: white;
}
.rotate-list-items li:nth-child(3) {
    transform: rotate(10deg);
    background-color: red;
}
.rotate-image {
    transform: rotate(-10deg);
}
.rotate-image-clockwise {
    transform: rotate(25deg);
}
.rotate-table {
    position: relative;
    left: 50px;
    transform: rotate(15deg);}
.rotate-table tr:nth-child(1) {
    background-color: black;
    color: white;}
.rotate-table tr:nth-child(n+2) {
    background-color: yellow;}
.rotate-table tr:nth-child(n+5) {
    background-color: blue;
    color: white;}
.rotate-table tr:nth-child(n+8) {
    background-color: red;}
.rotate-table tr:nth-child(n+11) {
    background-color: green;
    color: white;
}
.gradients-linear {
    background: linear-gradient(yellow, red);
    width: 200px;
    height: 200px;
}
.gradients-linear-1 {
    background: linear-gradient(lightblue, lawngreen);
    width: 200px;
    height: 200px;
}
.gradients-radial {
    background: radial-gradient(yellow, green);
    width: 200px;
    height: 200px;
}
.gradients-radial-1 {
    background: radial-gradient(pink, orange);
    width: 200px;
    height: 200px;
}
.gradients-positioned {
    background:
            radial-gradient(at top left, blue, red);
    width: 200px;
    height: 200px;
    color: white;
}
.gradients-positioned-1 {
    background:
            radial-gradient(at top right, darkgray, black);
    width: 200px;
    height: 200px;
    color: white;
}

.animation-keyframes {
    position: relative;
    top: 0px;
    animation-duration: 7s;
    animation-name: slidein;
    width: 200px;
    height: 200px;
    background-color: red;
    color: white;
}
@keyframes slidein {
    from {
        position: relative;
        top: 0px;
        font-size: 100%;
        margin-left: 100%;
        width: 200px;
        height: 200px;
        background-color: yellow;
        color: black;
    }
    50% {
        position: relative;
        top: -200px;
        font-size: 300%;
        margin-left: 25%;
        width: 400px;
        height: 400px;
        background-color: blue;
        color: white;
    }
    to {
        position: relative;
        top: 0px;
        font-size: 100%;
        margin-left: 0%;
        width: 200px;
        height: 200px;
        background-color: red;
        color: white;
    }
}

.animation-keyframes-1 {
    position: relative;
    top: 0px;
    animation-duration: 10s;
    animation-name: slidein-1;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    width: 250px;
    height: 250px;
    background-color: red;
    color: white;
}
@keyframes slidein-1 {
    from {
        position: relative;
        top: 0px;
        font-size: 200%;
        margin-left: 0%;
        width: 300px;
        height: 300px;
        background-color: mediumpurple;
        color: black;
    }
    30% {
        position: relative;
        top: 200px;
        font-size: 100%;
        margin-left: 25%;
        width: 250px;
        height: 250px;
        background-color: lawngreen;
        color: saddlebrown;
    }
    60% {
        position: relative;
        top: -200px;
        font-size: 300%;
        margin-left: 75%;
        width: 500px;
        height: 500px;
        background-color: darkblue;
        color: whitesmoke;
    }
    to {
        position: relative;
        top: 0px;
        font-size: 100%;
        margin-left: 100%;
        width: 250px;
        height: 250px;
        background-color: mediumpurple;
        color: black;
    }
}

.flex-container {
    border-width: 5px;
    border-color: black;
    border-style: solid;
    display: flex;
    justify-content: space-between;
}
.flex-box {
    border: 5px gray solid;
    margin: 10px;
    padding: 10px;
}
.flex-box-1 {
    background-color: yellow;
}
.flex-box-2 {
    background-color: blue;
    color: white;
}
.flex-box-3 {
    background-color: red;
    color: white;
}

.flex-container-1 {
    border-width: 5px;
    border-color: black;
    border-style: double;
    display: flex;
    justify-content: center;
}
.flex-container-2 {
    border-width: 5px;
    border-color: black;
    border-style: double;
    display: flex;
    justify-content: end;
}
.flex-container-3 {
    border-width: 5px;
    border-color: black;
    border-style: double;
    display: flex;
    justify-content: space-around;
}
.flex-container-4 {
    border-width: 5px;
    border-color: black;
    border-style: double;
    display: flex;
    justify-content: space-between;
}
.flex-container-align-1 {
    border-width: 5px;
    border-color: black;
    border-style: double;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}
.flex-container-align-2 {
    border-width: 5px;
    border-color: black;
    border-style: double;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.flex-container-align-3 {
    border-width: 5px;
    border-color: black;
    border-style: double;
    display: flex;
    justify-content: space-evenly;
    align-items: end;
}
.flex-container-align-4 {
    border-width: 5px;
    border-color: black;
    border-style: double;
    display: flex;
}
.flex-container-align-4 > .flex-boxx {
    flex-basis: 100%;
}
.flex-boxx {
    border: 3px dimgray dashed;
    margin: 5px;
    padding: 5px;
}
.flex-boxx-1 {
    background-color: pink;
}
.flex-boxx-2 {
    background-color: lightblue;
}
.flex-boxx-3 {
    background-color: purple;
    color: white;
}
.flex-boxx-4 {
    background-color: olive;
    color: lightgray;
}

@media (min-width: 0px) and
(max-width: 300px) {
    body {
        background-color: khaki;
    }
    p {
        background-color: indigo;
        color: peachpuff;
    }
    table {
        background-color: violet;
    }
    h2 {
        background-color: navy;
        color: lemonchiffon;
    }
    h3 {
        background-color: crimson;
    }
    .media-query {
        background-color: navajowhite;
        color: turquoise;
    }
}

@media (min-width: 300px) and
(max-width: 600px) {
    body {
        background-color: mediumspringgreen;
    }
    p {
        background-color: blanchedalmond;
        color: blueviolet;
    }
    table {
        background-color: olive;
    }
    h2 {
        background-color: aliceblue;
        color: brown;
    }
    h3 {
        background-color: antiquewhite;
    }
    .media-query {
        background-color: orangered;
        color: white;
    }
}

@media (min-width: 600px) and
(max-width: 900px) {
    body {
        background-color: chartreuse;
    }
    p {
        background-color: dimgray;
        color: palevioletred;
    }
    table {
        background-color: fuchsia;
    }
    h2 {
        background-color: tomato;
        color: grey;
    }
    h3 {
        background-color: yellowgreen;
    }
    .media-query {
        background-color: peachpuff;
        color: darkblue;
    }
}

